@using PestApp.Models;
@{
    ViewData["Title"] = "ViewRuleSet";
}
@model RuleSetViewModel

<h1>@Model.UserName</h1>
<p>@Model.Name</p>
@foreach (DisplayRule rule in Model.DisplayRules)
{
    <p>@rule.Card.GetCard() @rule.RuleType.BasicDescription @rule.RuleAmount</p>
}