@using PestApp.Models;
@using Enums;
@{
    ViewData["Title"] = "ViewRuleSet";
}
@model RuleSetViewModel

<h1>@Model.Name</h1>
<p>By @Model.UserName</p>
<h3>Card-specific rules</h3>
<div class="scrollableBox">
    @foreach (DisplayRule rule in Model.DisplayRules)
    {
        <p>When a(n) @rule.Card.GetCard() is played, @rule.RuleType.GetDisplayString()</p>
    }
</div>
<h3>General Rules</h3>
<div class="scrollableBox">
    @foreach (additionalRule addRule in Model.ExtraRules)
    {
        <p>@Html.DisplayFor(model => addRule)</p>
    }
</div>