
@{
    ViewData["Title"] = "AlternateCreateRuleSet";
}

<h2>AlternateCreateRuleSet</h2>
@model IEnumerable<Rule>
@using (Html.BeginForm("CreateRuleSet", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.DropDownList("CardFace")
    </div>
    <div class="form-group" id="cardSuitContainer" style="display:none">
        @Html.DropDownList("CardSuit")
    </div>
    <div class="form-group">
        @Html.DropDownList("RuleType")
    </div>
    var Index = 0;
    <div id="id">
        @foreach (Rule rule in Model)
        {
            <p>@rule.Card @rule.RuleType</p>
            <input type="hidden" name="Rule.ruleType" value="@rule.RuleType" />
            @Html.ActionLink("Remove", "DeleteRule", "Home", new { Index = @Index });
            Index++;
        }

    </div>
    <input id="checkBox" type="checkbox" value="true" onclick="thefunction()" />
    <input id="addButton" type="submit" value="Add Rule" name="command" />


}