@using PestApp.ViewModels
@using Enums;
@{
    ViewData["Title"] = "CreateRuleSet";
}

<h2>CreateRuleSet</h2>
@model CreateRuleSetViewModel

@using (Html.BeginForm("AddRule", "Home", FormMethod.Post))
{
    <p>When a(n) @Html.DropDownListFor(m => m.Face, Model.CardFaceSelectList)</p>
    <input name="CheckBox" id="CheckBox" type="checkbox" value="true" onclick="thefunction()" /><p>of</p>
        <div class="form-group" id="cardSuitContainer" style="display:none"> @Html.DropDownListFor(m => m.Suit, Model.CardSuitSelectList)</div>
    <p>is played,</p>
    <select name="Type" onchange="CheckAmountBox()" id="typeSelect">
        @foreach (DropDownListItem item in Model.DropDownListItems)
        {
            @if (item.HasAmount)
            {
                <option value="@item.Name" id="amounted">@item.Name</option>
            }
            else
            {
                <option value="@item.Name" id="amountless">@item.Name</option>
            }
        }
    </select>
    <div id="ruleDisplay">
        <p id="firstText" style="display:inline"></p>
        <input id="amountBox" type="number" name="RuleAmount" min="1" style="display:inline"/>
        <p id="lastText" style="display:inline"></p>
    </div>
    <input name="CheckBox" id="CheckBox" type="checkbox" value="true" onclick="thefunction()" />
    <input id="addButton" type="submit" value="Add Rule" name="command" />
    <script>
        var displayStringArray = @Html.Raw(Json.Serialize(Model.RuleTypeDisplayStrings));

        var firstParagraph = document.getElementById("firstText");
        var lastParagraph = document.getElementById("lastText");
        var amountBox = document.getElementById("amountBox");
        var typeSelect = document.getElementById("typeSelect")

        function CheckAmountBox() {
            var selectedOption = typeSelect.options[typeSelect.selectedIndex];
            if (selectedOption.id.toString() == "amountless") {
                amountBox.style.display = "none";
                amountBox.textContent = null;
                lastParagraph.innerHTML = displayStringArray[typeSelect.selectedIndex];
            }
            else {
                amountBox.style.display = "inline-block";
                var str = displayStringArray[typeSelect.selectedIndex]
                firstParagraph.innerHTML = str.split("|")[0];
                lastParagraph.innerHTML = str.split("|")[1];
            }
        }
    </script>
}

@using (Html.BeginForm("RemoveRule", "Home", FormMethod.Post))
{
    var Index = 0;

    <div id="id">
        @foreach (Rule rule in Model.Rules)
        {
            <p>
                @rule.Card.GetCard() @rule.RuleType
                <button name="command" value="@Index">X</button>
            </p>
            Index++;
        }
    </div>
}

@using (Html.BeginForm("AddAdditionalRule", "Home", FormMethod.Post))
{
    @Html.DropDownListFor(m => m.AdditionalRule, Model.AdditionalRuleSelectList)
    <input id="addExtraRule" type="submit" value="Add Extra Rule" name="command" />
}

@using (Html.BeginForm("RemoveAdditionalRule", "Home", FormMethod.Post))
{
    <div id="divje">
        @{
            var index = 0;
        }
        @foreach (additionalRule additionalRule in Model.AdditionalRules)
        {
            <p>
                @additionalRule
                <button name="command" value="@index">X</button>
            </p>
            index++;
        }
    </div>
}

@using (Html.BeginForm("CreateRuleSet", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.Name)
    @Html.ActionLink("Save Ruleset", "SaveRuleSet", "Home")
}