@model RuleViewModel
@{
    ViewData["Title"] = "CreateRuleSet";
}
<form asp-action="CreateRuleSet">
    <div class="select-container" id="select-container">
        <div class="form-group">
            @Html.DropDownList("CardFace")
        </div>
        <div class="form-group">
            @Html.DropDownList("CardSuit")
            </div>
            <div class="form-group">
                @Html.DropDownList("CardRule")
               </div>
        <div class="form-group">
          @foreach (var item in Model.ExistingRules)
          {
            <p>@item.Card.Face @item.Card.Suit</p>
          }
            </div>
                <input id="addRuleButton" type="submit" value="Add Rule" />
        </div>
</form>

