@using PestApp.ViewModels
@{
    ViewData["Title"] = "CreateRuleSet";
}

<h2>CreateRuleSet</h2>
@model CreateRuleSetViewModel
@using (Html.BeginForm("CreateRuleSet", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.DropDownListFor(m => m.Face, Model.CardFace)
    </div>
    <div class="form-group" id="cardSuitContainer" style="display:none">
        @Html.DropDownListFor(m => m.Suit, Model.CardSuit)
    </div>
    <div class="form-group">
        @Html.DropDownListFor(m => m.Type, Model.RuleType)
    </div>
    var Index = 0;
    <div id="id">
        @foreach (Rule rule in Model.Rules)
        {
        <p>
            @rule.Card.GetCard() @rule.RuleType
            <button name="command" value="@Index">X</button>
        </p>
            Index++;
        }

    </div>
    @Html.TextBoxFor(m => m.Name)
    
    <input name="CheckBox" id="CheckBox" type="checkbox" value="true" onclick="thefunction()" />
    <input id="addButton" type="submit" value="Add Rule" name="command" />
    @Html.ActionLink("Save Ruleset", "SaveRuleSet", "Home")


}